/* глобальные стили */
html,
body {
  margin: 0;
}

* {
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.border-white-10 {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.border-accent {
  border: 1px solid #17e5c2;
}
.text-white-gradient {
  background: linear-gradient(90deg, #fff 22.73%, #828282 112.68%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-accent-gradient {
  background: linear-gradient(87deg, #14daba -3.08%, #fff 105.29%);
}
.bg-tab-border {
  border: 1.654px solid rgba(255, 255, 255, 0.55);
  background: linear-gradient(
    0deg,
    rgba(35, 35, 35, 0.18) -97.06%,
    rgba(84, 84, 84, 0.18) 56.7%,
    rgba(35, 35, 35, 0.18) 197.06%
  );
}
.text-accent-gradient {
  background: linear-gradient(263deg, #fff -2.14%, #14daba 106.41%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
